<% layout('layout/adminBoilerplate') -%> 
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block"> <%= title %> Products</h2>
                </div>
                <div class="col-md-4 col-sm-12 text-right">
                    <a href="/admin/products/new" class="btn btn-small btn-primary">Add New Product</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped tm-table-striped-even mt-3">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Product Name</th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">In Stock</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                     <form action="/admin/products?_method=delete" method="post">
                         <% products.forEach((product,i) =>{ %>    
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" name="delete[]" value="<%=product._id%>" aria-label="Checkbox" id="product-<%i%>">    
                                </th>
                                <td class="tm-product-name"><%= product.name  %></td>
                                <td class="text-center">  <%= product.price %> </td>
                                <td class="text-center"><%= product.unit %> </td>
                                <td>2018-10-28</td>
                                <td></td>
                                <td><a href="/admin/products/<%= product._id %>/edit"><i  class="fas btn fa-edit tm-edit-icon"></i></a></td>
                            </tr>
                            <% }) %> 
                    </tbody>
                </table>
            </div>
       
            <div class="tm-table-mt tm-table-actions-row">
                <div class="tm-table-actions-col-left"> 
                        <button class="btn btn-danger">Delete Selected Items</button>
                </div>
            </form>    
            <% if(pages > 0){ %>      
                <div class="tm-table-actions-col-right">
                    <span class="tm-pagination-label">Page</span>
                    <nav aria-label="Page navigation" class="d-inline-block">
                    
                        <ul class="pagination tm-pagination">
                            <% if (current === 1) { %>
                                <li>
                                    <a  href="">First</a>
                                </li>
                                <% } else { %>
                                <li class="active">
                                    <a class="page-link" href="<%=home%>page=1">First</a>
                                </li>
                                <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i
                                !== 1) { %>
                                <li class=" disabled"><a class="page-link">...</a></li>
                                <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i
                                == current) { %>
                                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                    <% } else { %>
                                    <li class="">
                                      <a class="page-link" href="<%=home%>page=<%= i %>"><%= i %></a>
                                    </li>
                                    <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
                                    <li class=" disabled"><a class="page-link">...</a></li>
                                    <% } %> <% } %> <% if (current == pages) { %>
                                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                                    <% } else { %>
                                    <li class="">
                                      <a class="page-link" href="<%=home%>page=<%= pages %>">Last</a>
                                    </li>
                                    <% } %>
                        </ul>
                       
                    </nav>
                </div>
                <% } %> 
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <h2 class="tm-block-title d-inline-block">Product Categories</h2>
            <table class="table table-hover table-striped mt-3">
                <tbody>
                 <% for(let cat of cats) {%>
                    <tr>
                        <td><a href="/admin/category/<%=cat._id%>"><%= cat.category %></a> </td>
                    <form action="/admin/category?_method=delete" method="post"> 
                        <td class="tm-trash-icon-cell"><button name="cool" value="<%=cat._id%>"><i  class="fas fa-trash-alt tm-trash-icon"> </i></button></td>
                    </form>
                    </tr>
                 <% } %>  
                </tbody>
            </table>
            <a href="/admin/category/new" class="btn btn-primary tm-table-mt">Add New Category</a>
        </div>
    </div>
</div>