<% layout('layout/boilerplate') -%> 
<link rel="stylesheet" href="/starCss/starability.basic.css">
 <div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2><%= product.category.category  %> </h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <div class="left-images">
                <% product.images.forEach((img,i) => {%> 
                    <img src="<%=img.url %> " class="img-fluid w-100" style="height:500px;" alt="">
                    <% }) %> 
            </div>
        </div>
        <div class="col-lg-6">
            <div class="right-content">
                <h4><%= product.name %></h4>
                <ul class=" d-flex flex-row my-2">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <span class="my-3"><%= product.description %> </span>
                
                <div class="total">
                    <h4>Price:$<%= product.price %> </h4>
                    <div class="main-border-button"><a href="/addCart/<%= product._id %> ">Add To Cart</a></div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="section-heading">
                    <h2>Leave a review on our product</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
                <form id="contact" action="/product/<%=product._id%>/reviews" method="post">
                    <div class="row">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                aria-label="No rating."/>
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4"/>
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5"/>
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>

                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" cols="40"  id="message" placeholder="Leave a review" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>  
        </div>
        <div>
            <h5>Buyers Feedback</h5>
            <% for(let review of product.reviews){%> 
            <div class="quote my-3">
                <h5 class="card-title"> <%= currentUser.username%></h5>
                <h3 class="starability-result" data-rating="<%=review.rating%>"> Rated:<%=review.rating%> stars</h3>
                <i class="fa fa-quote-left"> <p class="d-inline"><%=review.message%></p></i>
            </div>
            <% } %> 
        </div>
    </div>
</section>